@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor1: #CB1F5A;
    --cor2: #2d9b9d;
    --cor3: #D3CACE;
    --cor4: #21303B;
    --cor5: #327987;
}


body {
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif; 
    background-color: var(--cor5);
    margin: 0;
    padding: 0;
    text-align: center;
    height: 100vh;
}
header {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: var(--cor4);
    color:var(--cor3);
    padding: 15px;
    font-size: 24px;
    height: 70px;
    border-bottom: var(--cor2) solid 3px;
}

header img {
    border-radius: 100%;
    width: 100px;
}

header ul {
    display: flex;
}

header li {
    margin-right: 20px;
}

header a {
    color: var(--cor3);
    text-decoration: none;
}

header a:hover {
    text-decoration: underline;
}

.logo {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1500px;
}

.banner {
    background-image: url('./img/banner.png'); 
    background-size: contain;
    height: 216px;
    width: 1449px;
    margin: auto;
    padding: 20px;
    margin-top: 25px;
    font-size: 20px;
}
.produtos {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.produto:hover {
    background: var(--cor4);
    color: var(--cor3);
    filter: grayscale(50%);
}

.produto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--cor4);
    background-color: var(--cor3);
    border-radius: 10px;
    padding: 10px;
    width: 200px;
    text-align: center;
    height: 250px;
    box-shadow: 4px 4px 12px 1px rgba(33,48,59,1);
}
.produto img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

footer {
    background-color:var(--cor4);
    color: var(--cor3);
    text-align: center;
    padding: 20px 0;
    width: 100%;
    margin-top: auto;
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    gap: 15px;
}

.contato {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    padding: 20px;
    height: 400px;
    width: 400px;
    border-radius: 10px;
    border: var(--cor3) solid 2px;
    gap: 10px;
}

.contato h2 {
    width: 100px;
    color: var(--cor3);
}

#form-contato {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    color: var(--cor3);
    gap: 10px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--cor3);
    gap: 20px;
    width: 1449px;
    padding: 20px;
    margin: 40px auto;
    color: var(--cor4);
    box-shadow: 4px 4px 12px 1px rgba(33,48,59,1);
}

@media screen and (max-width: 1550px) {
    .banner {
        background-image: url('./img/banner1024.png');
        background-size: contain;
        background-repeat: no-repeat;
        margin-top: 25px;
        height: 216px;
        width: 1018px;
    }
    .logo {
        width: 1050px;
    }
    main {
        width: 1018px;
    }
}

@media screen and (max-width: 1200px) {
    .banner {
        background-image: url('./img/banner800.png');
        background-size: contain;
        background-repeat: no-repeat;
        margin-top: 25px;
        height: 249px;
        width: 783px;
    }
    .logo {
        width: 800px;
    }
    main {
        width: 783px;
    }
}

@media screen and (max-width: 1024px) {
    .banner {
        background-image: url('./img/banner800.png');
        background-repeat: no-repeat;
        background-size: 1024px 249px;
        height: 249px;
        margin-top: 25px;
    }
    body {
        height: 100%;
    }
    .logo {
        width: 800px;
    }
    main {
        width: 800px;
    }
}

@media screen and (max-width: 850px) {
    .banner {
        background-image: url('./img/banner500.png');
        background-repeat: no-repeat;
        background-size: 850px 246px;
        height: 216px;
        margin-top: 25px;
        margin-left: 20%;
        width: 100%;
        right: 500px;
    }
    body {
        height: 100%;
    }
    .logo {
        width: 500px;
    }
    main {
        width: 500px;
    }
}

@media screen and (max-width: 640px) {
    .banner {
        background-image: url('./img/banner500.png');
        background-repeat: no-repeat;
        background-size: 500px 246px;
        height: 216px;
        margin-top: 25px;
        margin-left: 1%;
        width: 100%;
    }
    body {
        height: 100%;
    }
    main {
        width: 450px;
    }
}